{
  "rootDir": "{{ aptly_root_dir }}",
  "downloadConcurrency": 4,
  "downloadSpeedLimit": 0,
  "architectures": ["amd64"],
  "dependencyFollowSuggests": false,
  "dependencyFollowRecommends": false,
  "dependencyFollowAllVariants": false,
  "dependencyFollowSource": false,
  "dependencyVerboseResolve": false,
  "gpgDisableSign": false,
  "gpgDisableVerify": false,
  "gpgProvider": "gpg",
  "downloadSourcePackages": false,
  "skipLegacyPool": true,
  "ppaDistributorID": "ubuntu",
  "ppaCodename": "",
  "skipContentsPublishing": false,
  "FileSystemPublishEndpoints": {
    "ubuntu-noble": {
      "rootDir": "{{ aptly_root_dir }}/public/ubuntu",
      "linkMethod": "hardlink",
      "verifyMethod": "md5"
    },
    "docker": {
      "rootDir": "{{ aptly_root_dir }}/public/docker",
      "linkMethod": "hardlink",
      "verifyMethod": "md5"
    },
    "kubernetes-v1.35": {
      "rootDir": "{{ aptly_root_dir }}/public/kubernetes",
      "linkMethod": "hardlink",
      "verifyMethod": "md5"
    }
  },
  "S3PublishEndpoints": {},
  "SwiftPublishEndpoints": {}
}