# === UPSTREAM NTP SOURCES ===
{% for src in ntp_vietnam_pool %}
pool {{ src }} iburst{{ ' minpoll 4 maxpoll 8' if loop.first else '' }}
{% endfor %}

{% for srv in ntp_fallback_servers %}
server {{ srv }} iburst prefer
{% endfor %}


# Required minimum of 3 sources, at least 1 valid source before sync
tos minclock 3 minsane 1

# === ACCESS CONTROL ===
# Default: Deny all
restrict default nomodify notrap nopeer noquery

# Localhost has full rights
restrict 127.0.0.1
restrict ::1

# Allow clients in internal network to query and sync, but not modify
restrict 172.16.10.0 mask 255.255.255.0 nomodify notrap

{% for subnet in ntp_allow_subnets %}
restrict {{ subnet.subnet }} mask {{ subnet.mask }} nomodify notrap
{% endfor %}


# === LOGGING ===
logfile /var/log/ntpsec/ntp.log
logconfig =syncevents +peerevents +sysevents +allclock
