[defaults]
roles_path = ./roles
vault_password_file = .vault_password
retry_files_enabled = False
gathering = smart
interpreter_python = auto_silent

# Defaults inventory file path
inventory  = ./inventories/prod

# Disable host key checking
host_key_checking = False

stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
