[defaults]
roles_path = ./roles
vault_password_file = .vault_password

# Defaults inventory file path
inventory  = ./inventories

# Disable host key checking
host_key_checking = False

stdout_callback = yaml
result_format = yaml
bin_ansible_callbacks = True

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
